<div class="slide">
  <a href="{{ slide_link }}"></a>
  <div class="overlay">
    <div class="overlay-t">
      <div class="overlay-r">
        <div class="overlay-c">
          <h2 class="hx hx-l hx-home-slide">{{ slide_title }}</h2>
        </div>
      </div>
    </div>
  </div>
  <img src="{{ slide_image }}" alt="{{ slide_title }}" class="background">
</div>