<div class="content-wrap content-wrap-article">
  <div class="content content-article content-article-journal">
    
    <section class="article-wrap">
      <div class="article">
        <div class="description">
            <div class="title">
              <h2 class="hx hx-m hx-journal-preview">{{ article.title }}</h2>
            </div>
            <div class="date">{{ article.published_at | date: '%d-%m-%Y' }}</div>
            <div class="content">
              {{ article.content }}
            </div>
            <div class="gallery-wrap">
              <div class="gallery">
                {% include 'gallery-images' %}
              </div>
            </div>
          </div>
      </div>
    </section>
  </div>
</div>