<div class="content-wrap content-wrap-blog">
  <div class="content content-blog">
    <section class="journal-posts-wrap">
      <div class="journal-posts">
          {% for article in blog.articles %}
          <div class="post {% cycle '', 'post-alt' %}">
            <div class="image">
              <img src="{{ article.metafields.article.featured_image }}" alt="{{ article.title }}">
            </div>
            <div class="description">
              <div class="title">
                <h2 class="hx hx-m hx-journal-preview">{{ article.title }}</h2>
              </div>
              <div class="content no-symbol">
                {{ article.content }}
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </section>
    </section>
  </div>
</div>