{% paginate collection.products by 24 %}  
<div class="content-wrap content-wrap-collection">
  <div class="content content-collection">
    <section class="collection-wrap">
      <div class="collection">
        {% for product in collection.products %}
            {% include 'tile-product' %}
        {% endfor %}
      </div>
    </section>
    <section class="content-footer-wrap">
      <div class="content-footer">
        <div class="pagination-wrap">
          {{ paginate | default_pagination }}
        </div>
      </div>
    </section>
  </div>
</div>
{% endpaginate %}