{% if search.performed and search.results_count > 0 %}
<div class="content-wrap content-wrap-collection">
  <div class="content content-collection">
    <section class="collection-wrap">
    <div class="collection">
        {% for product in search.results %}
          {% include 'tile-product' %}
        {% endfor %}
      </div>
    </section>
  </div>
</div>
{% else %}
<div class="content-wrap content-wrap-page">
  <div class="content content-page">
    <div class="content-header-wrap">
      <div class="content-header">
        <h1 class="hx hx-l">Search</h1>
      </div>
    </div>
    <section class="page-wrap">
      <div class="page">
        Sorry, your search returned no results!
      </div>
    </section>
  </div>
</div>
{% endif %}