<header class="main">
  <div class="menu">
    <nav>
      <ul>
        {% for link in linklists.header.links %}
        <li><a {% if link.active %} class="active"{% endif %} href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>