<script type="text/html" id="cart_item">
  <div class="row-group">
    <div class="row row-heading">
      <div class="description">
        Item
      </div>
      <div class="options">
        Options
      </div>
      <div class="price"> 
        Price (each)
      </div>
    </div>
    <div class="row row-item">
      <div class="description">
        <%= item.image %>
        <%= item.product.title %>
      </div>
      <div class="options">
        {% unless item.variant.title == "Default Title" %}<%= item.variant.title %><br />{% endunless %}
        <b>Quantity: </b>
        <span data-sub="cart-item-quantity" data-id="<%= item.id %>"><%= item.quantity %></span> 
        <button data-pub="cart-item-add" data-id="<%= item.id %>">+</button> 
        <button data-pub="cart-item-subtract" data-id="<%= item.id %>">-</button>
      </div>
      <div class="price">
        <%= item.variant.price  %>
      </div> 
    </div>
    <div class="row row-controls">
      <div class="controls">
        <button data-pub="cart-item-remove" data-id="<%= item.id %>">Remove</button>
      </div>
    </div>
  </div> 
</script>